<h1>B.A. Baracus</h1>

<div class="info">
<p><img src="http://images6.fanpop.com/image/photos/37300000/B-A-Baracus-the-a-team-37372837-266-318.jpg" alt="B.A. Baracus">Bosco Baracus. Known as B. A. for 'bad attitude. While the other members of the team regularly resort to disguises, scams and subterfuge to achieve their goals, B. A.'s distinctive appearance and confrontational attitude usually lead to a more direct approach to problems, which often involve either his skills at hand-to-hand combat, or his mechanical talents.</p>
</div>
