<h1>Bob Belcher</h1>

<div class="info">
<p><img src="http://66.media.tumblr.com/bc3c9ab0a457f36419ea7e3f3b6e3ecf/tumblr_inline_o4d93nVXBn1r8mwrd_1280.jpg" alt="Bob_Belcher">Bob Belcher is a 44-year-old second generation restaurant owner, as his father owns a diner, and currently the proprietor of his eponymous burger restaurant, Bob's Burgers, in a New Jersey shore town. Bob has a tendency to speak to inanimate objects and then speak back as the inanimate object, usually in a high, squeaky voice. He also enjoys making puns, utilizing this talent to name his burgers (i.e the If Looks Could Kale Burger, New Bacon-ings Burger, etc.).</p>
</div>
